h1{color:blue;}
h2{font-size: 14px;}
p {background-color: black; color:yellow; font-size: 12px; width: 300px;}
img{border-color: red;border-style: solid;;border-width: 2px}
/*.div1{background-color: red; width:100px; float: left;}
.div2{background-color: blue; }
.div3{background-color: yellow; width: 100%; }*/
.main{margin: 0 auto;position: relative;}
.left{background-color: red; width:200px;  position: absolute;left: 0;top: 0;}
.middle{background-color: blue; margin:0 200px;}
.right{background-color: yellow; width: 200px;position:absolute; right: 0;top: 0;}
/*方法一：浮动
  方法二：绝对定位  设置父元素为相对定位*/

.clc{clear: both;}
.wrap{background-color: red; overflow:hidden;}
.box{float: left; width: 100px; height: 100px; background-color: blue; margin:10px;}

.circle{
	width: 100px;
	height: 50px;
    margin-top: 60px;
    overflow: hidden;
}
.div2, .div3,.div4,.div5{
    height: 1px;
    background: lightblue;
    overflow: hidden;
}
.div1{
    margin: 0px 5px;
    border-top: solid 1px black;
}
.div2{
    margin: 0px 3px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.top3{
    margin: 0px 3px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.div4{
    margin: 0px 1px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.div5{
    margin: 0px 1px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.main{
	height: 20px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    background: lightblue;
}
.circle2{
	width: 100px;
	height: 50px;
	border: solid 1px black;
	border-radius: 15px;
	overflow: hidden;
}